body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-size: 5rem;
  text-transform: capitalize;
  color: cornflowerblue;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  margin: 3rem;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 1rem 0.5rem;
  transition: background 0.2s;
}

a:hover {
  background: rgb(245, 245, 245);
}

.creation {
  text-transform: uppercase;
  background: rgb(190, 190, 190);
  padding: 1rem;
  color: #fff;
  transition: all 0.5s;
}

.creation:hover {
  transform: scale(1.02);
  background: cornflowerblue;
  border-radius: 3rem;
}

.tags {
  margin: 3rem 0;
}

footer {
  color: #888;
  padding: 1rem;
  border-top: 3px solid #999;
  font-size: 1rem;
}

.content {
  text-align: center;
}

.title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: cornflowerblue;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 5rem;
}

.inner-content {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input {
  border: 1px solid darkgray;
  padding: 1rem 3rem;
  display: block;
  margin: 1rem auto;
  outline: none;
  border-radius: 0.5rem;
  font-size: 2rem;
}

input::placeholder {
  text-align: center;
}

button {
  display: block;
  margin: 2rem auto;
  padding: 1rem 2rem;
  background: darkgray;
  color: #fff;
  border: none;
  transition: all 0.5s;
  border-radius: 0.5rem;
  cursor: pointer;
}

input:focus {
  border: 2px solid cornflowerblue;
}

button:focus {
  border: 1px solid dodgerblue;
  background: #fff;
  color: cornflowerblue;
  outline: cornflowerblue;
}

button:active {
  transform: scale(0.9);
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 2rem;
  }
  a {
    font-size: 1rem;
    margin: 3rem 0.5rem;
  }
  .title {
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }
  input {
    padding: 0.5rem 0;
    width: 15rem;
    font-size: 1rem;
  }
  footer {
    font-size: 0.5rem;
  }
}
